<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature android:name="android.hardware.camera" android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES"/>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <uses-permission android:name="android.permission.USE_BIOMETRIC"/>
    <uses-permission android:name="android.permission.USE_FINGERPRINT"/>


    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/logo_launcher2"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo_launcher2_round"
        android:windowSoftInputMode="adjustResize"
        android:fitsSystemWindows="true"
        android:supportsRtl="true"
        android:theme="@style/Theme.KP3K"
        tools:targetApi="31">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBzhus4Xzth17gJxIJjXC1fOD1JYhmIsBo" />
        <activity
            android:name=".dashboard.DashboardOpsional"
            android:exported="false"
            android:label="@string/title_activity_dashboard_opsional"
            android:theme="@style/Theme.KP3K.NoActionBar" />
        <activity
            android:name=".RegisterPetani"
            android:exported="false" />
        <activity
            android:name=".RegisterPolri"
            android:windowSoftInputMode="adjustResize"
            android:exported="false" />

        <activity
            android:name=".Register"
            android:windowSoftInputMode="adjustResize"
            android:fitsSystemWindows="true"
            android:exported="false" />
        <activity
            android:name=".Login"
            android:exported="false" />
        <activity
            android:name=".Welcome"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>