<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- Permissions -->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.USE_BIOMETRIC" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fitsSystemWindows="true"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/logo_new"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo_new_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.KP3K"
        android:usesCleartextTraffic="true"
        android:windowSoftInputMode="adjustResize"
        tools:targetApi="31">
        <activity
            android:name=".newversion.DataTanaman.VerifikasiTanaman"
            android:exported="false" />
        <activity
            android:name=".newversion.DataTanaman.ShowDataTanamanByCategory"
            android:exported="false" />
        <activity
            android:name=".newversion.DataTanaman.RejectedTanaman"
            android:exported="false" />
        <activity
            android:name=".newversion.DataTanaman.EditTanaman"
            android:exported="false" />
        <activity
            android:name=".newversion.DataTanaman.DraftTanaman"
            android:exported="false" />
        <activity
            android:name=".newversion.DataTanaman.DataTanamanDetails"
            android:exported="false" />
        <activity
            android:name=".newversion.DataTanaman.AddTanaman"
            android:exported="false" />
        <activity
            android:name=".newversion.dashboard.DataTanaman"
            android:exported="false" />
        <activity
            android:name=".newversion.Maps.ShowSingleDataOnMap"
            android:exported="false" />
        <activity
            android:name=".newversion.DataLahan.DataLahanDetails"
            android:exported="false" />
        <activity
            android:name=".newversion.dashboard.Hotspots"
            android:exported="false" />
        <activity
            android:name=".newversion.DataLahan.EditLahan"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".newversion.DataLahan.AddLahan"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".newversion.DataLahan.VerifikasiLahan"
            android:exported="false" />
        <activity
            android:name=".newversion.DataLahan.RejectedLahan"
            android:exported="false" />
        <activity
            android:name=".newversion.DataLahan.DraftLahan"
            android:exported="false" />
        <activity
            android:name=".newversion.DataLahan.ShowDataLahanByCategory"
            android:exported="false" />
        <activity
            android:name=".newversion.dashboard.DataLahan"
            android:exported="false" />
        <activity
            android:name=".newversion.DataOwner.RejectedOwner"
            android:exported="false" />
        <activity
            android:name=".newversion.DataOwner.VerifikasiOwner"
            android:exported="false" />
        <activity
            android:name=".newversion.DataOwner.DraftOwner"
            android:exported="false" />
        <activity
            android:name=".newversion.DataOwner.DataOwnerCreateEdit"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".newversion.DataOwner.DataOwnerDetails"
            android:exported="false" />
        <activity
            android:name=".newversion.dashboard.DataOwner"
            android:exported="false" />
        <activity
            android:name=".newversion.dashboard.DashboardKomoditas"
            android:exported="false" />
        <activity
            android:name=".newversion.setting.Account"
            android:exported="false" />
        <activity
            android:name=".newversion.setting.Setting"
            android:exported="false" />
        <activity
            android:name=".newversion.dashboard.DashboardBPKP"
            android:exported="false" />
        <activity
            android:name=".newversion.auth.LoginWithPinOrBiometric"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".newversion.auth.NewSetPin"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".newversion.NewDashboard"
            android:exported="false" />
        <activity
            android:name=".newversion.PreStart"
            android:exported="false" />
        <activity
            android:name=".newversion.VerifikasiOTP"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".newversion.NewLogin"
            android:exported="false" />
        <activity
            android:name=".NewWelcome"
            android:exported="false" />
        <activity
            android:name=".pimpinan.MonitoringPimpinan"
            android:exported="false" />
        <activity
            android:name=".pimpinan.AddAtensi"
            android:exported="false" />
        <activity
            android:name=".pimpinan.PanggilanVideo"
            android:exported="false" />
        <activity
            android:name=".pamatwil.DashboardPamatwil"
            android:exported="false" />
        <activity
            android:name=".pimpinan.EndCallPimpinan"
            android:exported="false" />
        <activity
            android:name=".pimpinan.PimpinanVideoCall"
            android:exported="false" />
        <activity
            android:name=".pimpinan.PetaLahanPimpinan"
            android:exported="false" />
        <activity
            android:name=".pimpinan.DashboardPimpinan"
            android:exported="false" />
        <activity
            android:name=".TesterActivity"
            android:exported="false" />
        <activity
            android:name=".EndCallActivity"
            android:exported="false" />
        <activity
            android:name=".Verifikasi"
            android:exported="false" />
        <activity
            android:name=".helper.CameraActivity"
            android:exported="false"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".SetPin"
            android:exported="false" />
        <activity
            android:name=".VideoCallActivity"
            android:exported="false" />
        <activity
            android:name=".IncomingCallActivity"
            android:exported="false" /> <!-- Metadata Google Maps -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBzhus4Xzth17gJxIJjXC1fOD1JYhmIsBo" /> <!-- Activities -->
        <activity
            android:name=".dashboard.DashboardOpsional"
            android:exported="false"
            android:label="@string/title_activity_dashboard_opsional"
            android:theme="@style/Theme.KP3K.NoActionBar" />
        <activity
            android:name=".Login"
            android:exported="false"
            android:fitsSystemWindows="true"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".Welcome"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- AgoraService (gabung deklarasinya jadi satu) -->
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <service
            android:name=".service.MyFirebaseMessagingService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <receiver
            android:name=".service.AlarmReceiver"
            android:exported="true" />


        <receiver
            android:name=".service.CallActionReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="DECLINE_ACTION" />
            </intent-filter>
        </receiver>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>